.dashboard_screen{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    z-index: 1000000000000000;
}

.dashboard_sub_screen{
    margin-left: 20%;
    padding: 2rem 4rem;
    width: 80%;
}

.dash_header {
    width: 100%;
}

.hamburger_menu{
    display: none;
}


.dashboard_main_content{
    width: 100%;
    height: max-content;
}


@media screen and (min-width: 150px) and (max-width: 450px)  {
    .dashboard_screen{
        width: 100%;
        display: block;
        justify-content: flex-start;
    }

    .dash_header{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #fff;
        border-radius: .9rem;
        margin-bottom: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    
    .dashboard_sub_screen{
        width: fit-content;
        margin-left: 0rem;
        padding-top: 2rem;
        margin-right: 0rem;
        padding: 2rem 1rem;
    }

    .hamburger_menu{
        padding-right: 1rem;
        padding-left: 2rem;
        display: block;
        /* margin-left: -1rem; */
        color: var(--color-primary);
        justify-content: flex-end;
        cursor: pointer;
    }
}

@media screen and (min-width: 451px) and (max-width: 920px)  {
    .dashboard_screen{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .dash_header{
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: .9rem;
        margin-bottom: 1rem;
    }
    
    .dashboard_sub_screen{
        width: 100%;
        margin-left: 0rem;
        padding: 2rem 2rem;
        margin-right: 0rem;
        
    }

    .hamburger_menu{
        padding-right: 1rem;
        padding-left: 2rem;
        display: block;
        /* margin-left: -1rem; */
        color: var(--color-primary);
        justify-content: flex-end;
        cursor: pointer;
    }
}

@media screen and (min-width: 921px) and (max-width: 1350px)  {
    .dashboard_sub_screen{
        
        padding-right: 1rem;
        
        
    }
}