.dashboard_screen{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    z-index: 1000000000000000;
}

.dashboard_sub_screen{
    margin-left: 20%;
    padding: 2rem 6rem;
    width: 80%;

}

.dash_header {
    width: 100%;
}

.dashboard_main_content{
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 150px) and (max-width: 400px)  {
    .dashboard_screen{
        width: 100%;
    }

    .dash_header{
        width: 95%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .dashboard_sub_screen{
        width: fit-content;
        margin-left: 0rem;
        padding-top: 2rem;
        margin-right: 0rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 920px)  {
    .dashboard_screen{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    
    .dashboard_sub_screen{
        width: 100%;
        margin-left: 0rem;
        padding-top: 2rem;
        margin-right: 0rem;
        
    }
}