.dashboard_screen{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
}

.dashboard_sub_screen{
    /* margin-left: 20%; */
    padding: 2rem 4rem;
    width: 80%;
}

.dash_header {
    width: 100%;
}

.dashboard_main_content{
    width: 100%;
    height: max-content;
}


@media screen and (min-width: 150px) and (max-width: 400px)  {
    .dashboard_screen{
        width: 100%;
        display: block;
        justify-content: flex-start;
    }

    .dash_header{
        width: 95%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .dashboard_sub_screen{
        width: fit-content;
        margin-left: 0rem;
        padding-top: 2rem;
        margin-right: 0rem;
        padding: 2rem 1rem;
    }
}

@media screen and (min-width: 401px) and (max-width: 920px)  {
    .dashboard_screen{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    
    .dashboard_sub_screen{
        width: 100%;
        margin-left: 0rem;
        padding-top: 2rem;
        margin-right: 0rem;
        
    }
}