.body{
    height: 100%;
}

main{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
}

.sidebar{
   margin: 5rem 2rem 0;
}

.sidebar > p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;
    margin: 0.5rem 0 3rem ;
}

.sidebarBack{
    display: none !important;
}

.mainbar{
   width: 91rem;
   height: 200rem;
   margin-top: 5rem ;
}

.mainbar h1{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 120%;
    letter-spacing: -0.002em;
    color: #FC980F;
    padding-left: 2rem;
}

.mainbar > p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.002em;
    color: #4B5563;
    padding: 0 2rem 4rem;
}

aside{
    height: 150rem;
}

.shortlet{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ShortletCard{
    margin-bottom: 3rem;
}

.search_box_input{
    /* width: 30%; */
    flex: 1;
}

.input_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .1rem solid #C4C4C4;
    border-radius: 1rem;
    padding: .6rem;
}

.search_box_input input {
    border: none;
    outline: none;
    padding: .5rem 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    margin-top: 0;
}

.search_box_input input:focus {
    border: none;
    outline: none;
}

@media only screen and (max-width: 900px){
    main{
        display: block;
        margin-top: 15rem;
    }
    .mainbar{
        width: 37.5rem;
        height: 180rem;
        margin-top: 5rem ;
     }

     .sidebar{
        margin: 5rem 1.2rem 0;
     }

     aside{
        height: 80%;
    }

    .shortlet{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap; 
    }

    .sidebarBack{
        display: flex !important ;
    }

    .mainbarBack{
        display: none !important;
    }
}
