.user_container{
    display: flex;
    align-items: center;
}

.user_image{
    height: 20rem;
    width: 20rem;
    border-radius: .9rem;
}

.user_details{
    padding-left: 2rem;
}

.user_details p:first-child{
    font-size: 3rem;
    color: #111827;
    font-weight: 500;
}

.user_shortlet{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.user_shortlet p{
    font-size: 1.4rem;
    padding-left: .7rem;
}

.user_shortlet span{
    font-weight: 500;
}

@media screen and (min-width: 150px) and (max-width: 400px) {
    .user_container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .user_image{
        /* height: 18rem;
        width: 23rem;  */
        aspect-ratio: 2/1;
    }

    .user_details p:first-child{
        font-size: 2rem;
        color: #111827;
        font-weight: 500;
    }

    .user_details{
        padding-left: 0rem;
    }

    .user_shortlet{
        padding-top: 1.4rem;
    }

    .user_shortlet p{
        font-size: 1.2rem;
        padding-left: .5rem;
    }

    .user_details > p{

    }

    .user_details img{
        width: 7%;
    }
}

@media screen and (min-width: 921px) and (max-width: 1049px) {
    .user_image{
        height: 16rem;
        width: 16rem; 

        aspect-ratio: 2/1;
    }

    .user_details{
        padding-left: 0rem !important;
    }

    .user_details p:first-child{
        font-size: 3rem;
        color: #111827;
        font-weight: 500;
    }
    
    .user_shortlet{
        display: flex;
        align-items: center;
        padding-top: 2rem;
    }
    
    .user_shortlet p{
        font-size: 1.4rem;
        padding-left: .7rem;
    }
    
    .user_shortlet span{
        font-weight: 500;
    }
    
}