.shortlet_data{
    display: flex;
    height: 16rem;
    
}

.shortlet_image{
    height: 16rem;
    width: 18rem;
    border-radius: .64rem;
}

.shortlet_cover{
    position: relative;
}

.shortlet_cover >span{
    font-size: 1rem;
    color: #fff;
    background-color: #6BB03B;
    padding: .4rem 1.9rem;
    border-top-right-radius: .64rem;
}

.shortlet_cover >span{
    position: absolute;
    right: 0%;
}

.shortlet_details{
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
    align-self: center;

}

.shortlet_title{
    color: #111827;
    font-weight: 500;
    font-size: 1.6rem;
}

.shortlet_desc{
    margin-top: .71rem;
    color: #4B5563;
    font-size: 1rem;
    width: 60%;
}

.shortlet_details > :nth-child(3){
    margin-top: .71rem;
    font-size: 1.2rem;
    color: #4B5563;
}

.shortlet_details > :nth-child(4){
    margin-top: .71rem;
}

.shortlet_details > :nth-child(4) span{
    color: #059669;
}

.shortlet_details > :nth-child(5){
    margin-top: 1.2rem;
}

.disable_btn{
    cursor: pointer;
}

.remove_btn{
    
    cursor: pointer;
}







.dash_button span:first-child{
    padding: .66rem 2.3rem;
    color: #007AEC;
    background-color: #007AEC21; 
    border-radius: .4rem;
}

.dash_button span:last-child{
    padding: .66rem 2.3rem;
    color: #FF2020;
    border: 1px solid #FF2020;
    border-radius: .4rem;
    margin-left: 1.2rem;
}