
.btn__link {
    text-decoration: none;
    color: var(--color-dark);
    padding: 1.2rem 2rem 1.2rem 2rem;
    font-size: 1.4rem;
    border-radius: .4rem;
    outline: none;
    transition: all .5s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;


}

.btn__primary {
    background: var(--color-primary);
    color: var(--color-white);
    
}

.btn__primary:hover {
    background: var(--color-primary-dark);
    cursor: pointer;
    
}

.btn__primary:active {
    background: var(--color-primary-light);
    cursor: pointer;
}

.btn__primary:disabled {
    background: var(--color-primary-disable);
    cursor: not-allowed;
}

.btn__secondary {
    background: var(--color-white);
    color: var(--color-primary);
    border: .1rem solid var(--color-primary);

}

.btn__secondary:hover {
    color: var(--color-primary-dark);
    border: .1rem solid var(--color-primary-dark);
    cursor: pointer;
}

.btn__primary:active {
    color: var(--color-primary-light);
    border: .1rem solid var(--color-primary-light);
    cursor: pointer;
}

.btn__danger {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 1.2rem 2rem;
}

.btn__danger:hover {
    background: var(--color-danger-dark);
    cursor: pointer;
    
}

.btn__danger:active {
    background: var(--color-danger-light);
    cursor: pointer;
}

.btn__dark {
    background: #232325;
    color: var(--color-white);
}

.btn__dark:hover {
    background: var(--color-grey-dark)
}

.btn__dark:active {
    background: var(--color-grey-light)
}

.btn__logo {
    padding: 0;
    height: 1.4rem;
    width: 1.4rem;
    margin-right: .5rem;
}

.left__margin {
    margin-left: .5rem;
}

.right__margin {
    margin-right: .5rem;
}

@media only screen and (max-width: 600px) {
    .btn__link {
        font-size: 1rem;
    }
}