
.form_input{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form_input input{
    border: 1px solid #858585;
    border-radius: 5px;
}

.form_input input:focus{
    -webkit-transition: 0.5s;
    transition: 0.7s;
    outline: none;
    border: 1px solid #2196F3;
}

.label{
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #4E4D4F;
}

::placeholder{
    color: #7C8495;
}

.some_copy{
    font-size: 11px;
    font-weight: 400;
    
}

.form_input .icon{
    position: absolute;
    right: 0%;
    bottom: 0%; 
}


.input_field{
        width: 100%;
        padding: 10px;
        text-align: center;
}

.error{
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.error_message{
    font-size: 11px;
    font-weight: 400;
}
