
.form_input{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form_input input{
    border: 1px solid #858585;
    border-radius: 5px;
    padding: 1rem;
}

.form_input input:focus{
    -webkit-transition: 0.5s;
    transition: 0.7s;
    outline: none;
    border: 1px solid #2196F3;
}

.label{
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #4E4D4F;
}

::placeholder{
    
    color: #7C8495;
}

.some_copy{
    margin-bottom: 0.5rem;
    padding-left: 0;
    padding-top: 0.5rem;
    font-size: 11px;
    font-weight: 400;
}

.form_input .icon{
    position: absolute;
    right: 0%;
    bottom: 0%; 
}


.input_field{
        width: 100%;
        padding: 10px;
        text-align: center;
}

.error{
    position: absolute;
    right: 5%;
    bottom: 20%;
}

.error_message{
    font-size: 11px;
    font-weight: 400;
}

input[type=file]{
    padding: 3rem;
    display: flex;
    align-items: center;
    text-align-last: center;
    background-color: #F6F6F7;
    border-radius: 8px;
    border: 2px dotted #8C9196;
    cursor: pointer;
    
}

input[type=file]::before{
        display: flex;
        content: url(../../../assets/icons/upload.svg);
        color: black;
        display: inline-block;
}

input[type=file]::file-selector-button{
    border: 2px solid #BABFC3;
    padding: .2em .4em;
    margin-top: 1rem;
    color: #202223;
    border-radius: .2em;
    background-color: #fff;
    transition: 1s;
    
}