.header_nav{
    width: 100%;
    background-color: #fff;
    border-radius: .9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem;
}

.header_search{
    width: 35%;
    /* padding: 1.7rem 4rem; */
    padding-right: 1rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

.hamburger_menu{
    display: none;
}

.input_box{
    height: 56px;
    padding-top: .6rem;
}

input{
    padding: 1rem;
    outline: none;
}

.input_box:last-child{
    padding-right: .2rem;
}



.header_profile_items{
    width:45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6rem;
}

.noti_bell{
    padding-right: 2.9rem;
    border-right: 1px solid #C4C4C47D;
}

.user_id{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;    
}

.user_name{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 3.3rem;
}

.dropdown_svg{
    margin-left: 1rem;
}

.avatar{
    /* background-color: #e5e5e5; */
    background-image: url(../../../../assets/images/avatar.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid #7928CA82;
    margin-left: .7rem;
    
}

@media screen and (min-width: 150px) and (max-width: 665px)  {
    .header_nav{
        width: 100%;
        /* overflow: hidden; */
    }
    
    .header_profile_items{
        display: none;
    }

    .header_search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.7rem 1rem !important;
        margin-left: 0rem;
    }

    .hamburger_menu{
        padding-right: 1rem;
        padding-left: 2rem;
        display: block;
        margin-left: -1rem;
        color: var(--color-primary);
        justify-content: flex-end;
        cursor: pointer;
    }

    ::placeholder {
        font-size: 1.2rem;
      }

    input{
        padding: .8rem;
        outline: none;
        position: relative;
        bottom: 80%;
    }
    
    .input_box{
        position: relative;
        height: 46px;
        width: fit-content;
        padding-top: .6rem;
        padding-bottom: .6rem;
    }

    .header_btn{
        padding-top: -.3rem;
        padding-bottom: 0rem;
    }

    
    .input_box:last-child{
        padding-right: .2rem;
    }
}

@media screen and (min-width: 667px) and (max-width: 920px)  {
    .header_nav{
        width: 100%;
    }
    
    .header_profile_items{
        /* display: none; */
    }

    .header_search{
        width: 100%;
        padding: 1.7rem 4rem;
        margin-left: 2rem;
    }

    ::placeholder {
        font-size: 1.2rem;
      }

    input{
        padding: 1rem;
        outline: none;
        position: relative;
        bottom: 80%;
    }
    
    .input_box{
        position: relative;
        height: 46px;
        width: fit-content;
        padding-top: .6rem;
    }
    
    .input_box:last-child{
        padding-right: .2rem;
    }
}

@media screen and (min-width: 921px) and (max-width: 992px)  {
    .header_search{
        width: 100%;
        padding: 1.7rem 4rem;
        margin-left: 2rem;
    }   

    ::placeholder {
        font-size: 1.2rem;
      }

    input{
        padding: 1rem;
        outline: none;
        position: relative;
        bottom: 80%;
    }
    
    .input_box{
        position: relative;
        height: 46px;
        width: fit-content;
        padding-top: .6rem;
    }

}

@media screen and (min-width: 993px) and (max-width: 1459px)  {
    .header_search{
        width: 100%;
        padding: 1.7rem 4rem;
        margin-left: 2rem;
    }   

    input{
        padding: 1rem;
        outline: none;
        position: relative;
        bottom: 0%;
    }

    .input_box{
        position: relative;
        height: 46px;
        width: fit-content;
        padding-top: .6rem;
    }
}