.reservation_container{
    width: 100%;
    margin: 0 auto;
}

.reservation_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2rem 8rem;
    margin-top: 8rem;
}

.reservation__text{

}

.reservation_info{
    color: #FC980F;
    font-size: 3.2rem;
    font-weight: 500;
    padding-left: 0;
}

.shortlet_sub_info{
    font-size: 1.6rem;
    font-weight: 500;
}

.link_to{
    color: #007AEC;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
}

.link_to_link{
    color: #007AEC;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    cursor: pointer;
    
}

.link_to_link:hover .upload__icon {
    margin-right: 2rem;
}

.upload__icon {
    display: block;
    margin-top: .7rem;
    margin-right: 1rem;
    transition: all .3s;
}

.upload_arrow {
    padding: 3rem;
}


.reservation_content{
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem 2rem;
    /* width: max-content; */
    /* margin: 0 3rem 0rem 0rem; */
    border: 1px solid red;
    border-bottom: 1px solid #DDDDDD7D;
}

.reservation_content_one{
    border: 1px solid red;
    width: max-content;
}

.house_address{
    display: flex;
    /* flex-direction: row; */
    background-color: #F1F1F16B;
    border-radius: .8rem;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3rem;
    border: 1px solid red;
    width: 50%;
    padding: 1rem 3.5rem 5rem 2.8rem;
}

.house_address img{
    width: 10%;
    border: 1px solid  red;
}

.house_address p{
    padding-left: 1.1rem;
    font-size: 1.4rem;
}

.house_address span{
    color: #333333;
    font-weight: 500;
    font-size: 1.6rem;
}


.shortTip{
    display: flex;
    background-color: #9F9F9F1A;
    padding: 1.7rem 2.7rem 4rem 2.7rem;
    margin: 4rem auto;
    width: 35%;
    border-radius: .8rem;
}

.tip_text{
    padding-left: 1.1rem;
    /* padding-right: 3rem; */
}

.tip_text span{
    color: #FC980F;
}

@media screen and (min-width: 150px) and (max-width: 820px) {
    
    
    .reservation_header {
        display: block;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 2rem 1rem;
        margin-top: 8rem;
    }
    

    .link_to{
        color: #007AEC;
        font-size: 1.4rem;
        display: none;   
    }

    .link_to{
        color: #007AEC;
        font-size: 1rem;
        text-align: right;
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        display: none;
    }


    .reservation_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0rem 1rem 2rem;
        /* width: max-content; */
        /* margin: 0 3rem 0rem 0rem; */
        border: 1px solid red;
        border-bottom: 1px solid #DDDDDD7D;
    }
    
    .house_address{
        display: flex;
        /* flex-direction: row; */
        background-color: #F1F1F16B;
        border-radius: .8rem;
        justify-content: flex-end;
        align-items: center;
        margin-left: 0rem;
        margin-top: 2rem;
        border: 1px solid red;
        width: 100%;
        padding: 1rem 0rem 5rem 0rem;
    }

    .shortTip{
        display: flex;
        background-color: #9F9F9F1A;
        padding: 1.7rem 2.7rem 4rem 2.7rem;
        margin: 4rem auto;
        width: 70%;
        border-radius: .8rem;
    }
}