.withdrawalContainer{
    height: 100vh;
    background-color: #fff;
    margin-top: 2rem;
    padding: 2rem 3rem;
    border-radius: none;
    width: 100%;
    font-size: 1.6rem;
    
}

.withdrawal_heading table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.withdrawal_heading  table, tr, td {
    border: none;
}

.withdrawal_heading td, th {
  text-align: left;
  padding: 8px;
  
}

.withdrawal_heading tr:nth-child(even) {
  background-color: #dddddd;
}



@media screen and (min-width: 150px) and (max-width: 920px)  {
    .withdrawalContainer{
        width: 100%;
        margin-top: 0rem;
        margin-right: 0rem !important;
        overflow-x: scroll;
        padding: 2rem 1rem;
    }

    .container_child{
        width: 100%;
        overflow: scroll;
    }
    
    .withdrawal_heading ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 150%;
    }

    .withdrawal_heading{
        width: 100%;
    }
    
    .withdrawal_heading ul li{
        font-weight: 500;
        font-size: 1.2rem;
        /* width: 100%; */
    }

    .list_option{
        display: flex;
        justify-content: space-between;
        width: max-content;
        /* align-items: center; */
        color: #111827;
        font-size: 1rem;
    }

    .list_option p{
        width: 60%;
    }
    
    .list_option span{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .2rem;
    }
    
    .list_option_last{
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;
    }
    
    .decline_btn{
        width: 50%;
    }
    
    .single_request{
        width: 100%;
        padding-top: 3rem;
    }
    

}