.toast {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 64rem;
    border-radius: .8rem;
    padding: 1.6rem 2rem 1.6rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1.6rem;
    font-style: italic;
    transition: all .5s;
    /* margin: 0 auto; */

    animation: showToast 1s ease-in;
}

@keyframes showToast {
    0% {
        transform: translateY(-100rem);
    }

    50% {
        transform: translateY(2rem);
        
    }

    100% {

        transform: translateY(0);

    }
}



.toast__message {
    flex: 1;
}

.toast__success {
    background: var(--color-success-light);
    color: var(--color-success);
}

.toast__info{
    background: var(--color-info-light);
    color: var(--color-info);
}

.toast__danger {
    background: var(--color-danger-light);
    color: var(--color-danger);
}

.toast__emoji {
    margin-right: 1rem;
}

.hide__toast {
    transform: translateY(-100rem);
}

.toast_action {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 29.3rem;
        font-size: 1rem;
    }

    .toast__message {
        margin-right: 1rem;
    }   
}