.body{
    height: 100%;
    width: 72%;
    margin: 8rem 9rem 7rem;
    text-align: left;
    padding: 2rem;
}

.body h2{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 3.2rem;
   line-height: 120%;
   letter-spacing: -0.002em;
   color: #FC980F;
   margin: 1.2rem 0;
   padding: 0.5rem;
}

.body > h5 {
   padding-left:.5rem;
}

.body h5{
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2rem;
   letter-spacing: 0.002em;
   margin: 1.1rem 0;
   width: 49.7rem;
   color: #2B2A2A;
}

.para{
   margin: 6rem 0 3rem;
   width: 92.4rem;
}

.para p{
   font-family: 'Poppins';
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 162%;
   letter-spacing: 0.002em;
   color: #4B5563;
}

.para > p{
   margin-bottom: 2rem;
}

.btn{
   display: flex;
   justify-content: right;
}

.btn div{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   width: 35rem;
}

@media only screen and (max-width: 667px){
   .body{
      height: 100%;
      margin: 8rem 0 5rem;
      padding: 1rem;
   }

  .body h2{
     font-size: 2rem;
  }
  
  .body h5{
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.5rem;
   width: 23.7rem;
  }

  .para{
     width: 33.6rem;
     margin-bottom: 4rem;
  }

  .para p{
   font-size: 1.2rem;
   line-height: 2rem;
   letter-spacing: 0.004em;
  }

  .para h5{
     font-size: 1.3rem;
  }
  .btn{
   display: flex;
   justify-content: left;
}

.btn div{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   width: 24rem;
   padding: 1rem 0;
}
}

@media (min-width: 668px) and (max-width: 1200px){
   .body{
      height: 100%;
      width: 50%;
      margin: 8rem 0 6rem;
      text-align: left;
      padding: 2rem;
  }

  .para{
   margin: 6rem 0 4rem;
   width: 70rem;
}
}