img{
    width: 200px;
}
.pic{
    width: 24px;
}

.dash{
    color: #82868B;
}

.dash:hover{
    color: #007AEC;
}

h4{
    font-weight: 500;
    font-size: 16px;
    list-style: 22.4px;
   color: #82868B;
   margin-left: 20px;
    
}

.Bars{
    display: flex;
    flex-direction: column;
   
    
    
}

.Dash{
    display: flex;
    margin-top: 50px;
}

.Wallet{
    display: flex;
    margin-top: 50px;
}

.Shortlet{
    display: flex;
    margin-top: 50px;
}

.logout{
    display: flex;
    margin-top: 300px;
}
.Side_bar{
    margin-left: 30px !important;
    background-color: #ffff;
    box-shadow: 27px 0px 50px rgba(196, 196, 196, 0.16);;
    border-right: #efefee 2px solid;
    max-width: 273px;
    
}

.logo{
    margin-top: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logout{
        margin-top: 200px;
    }
    .logo{
        width: 80%;
    }
}