.back{
    height: 52.8rem;
    width: 100%;
    padding: 12rem 16.5rem;
}

.background{
    min-width: 100%;
    min-height: 30rem;
    background: url('../../assets/icons/BG.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.background h3{
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 800;
    color: white;
    line-height: 54px;
    width: 50rem;
}

.sub{
   border: none; 
   width: 100%;
   background-color: white;
   border-radius: 1rem;
   padding: 0.5rem;
   display: flex;
   margin-top: 1.5rem;
}
.sub img{
    margin-bottom: 4rem;
}

.sub input{
   border: none;
   outline: none;
   padding: 6px;
   background-color: transparent;
   flex-grow: 1;
}

.sidebox{
    padding: 5rem;
}


@media only screen and (max-width: 760px){
    .back{
        padding: 0;
        height: 60rem;
    }

    .background{
        height: 100%;
        border-radius: 0;
        display: block;
        text-align: center;
        position: relative;
    }

    .background img{
        margin-bottom: 4rem;
        position: absolute;
        width: 15.6rem;
        height: 14.263rem;
        left: 50%;
        transform: translateX(-50%);
        top: 19.769rem;
    }

    .sidebox{
        width: 100%;
        padding: 2rem;
    }

    .sidebox h3{
        flex-direction: column;
        font-size: 3.2rem;
        font-weight: 700;
        color: white;
        line-height: 3.84rem;
        position: absolute;
        width: 31rem;
        height: 7.6rem;
        left: 50%;
        transform: translateX(-50%);
        top: 6.5rem;
    }

    .sub{
        border: none; 
        background-color: white;
        border-radius: 1rem;
        display: flex;
        margin-top: 1rem;
        padding: 0.5rem;
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 37rem;
     }

     .sub input{
        border: none;
        outline: none;
        padding: 0.8rem;
        background-color: transparent;
        flex-grow: 1;
     }
    
  }

  
@media (min-width: 761px) and (max-width: 1200px){
    .back{
        height: 40rem;
        width: 100%;
        padding: 8rem 12rem;
    }
    
    .background{
        min-width: 100%;
        min-height: 30rem;
        background: url('../../assets/icons/BG.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.6rem;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
    }

    .background img{
        width: 10rem;
    }

    .sidebox{
        margin-left: 4rem ;
        padding : 8rem 0 0 0;
    }
    
    .sidebox h3{
        flex-direction: column;
        font-size: 3rem;
        font-weight: 800;
        color: white;
        line-height: 3.4rem;
        width: 35rem;
    }
    
    .sub{
       border: none; 
       width: 100%;
       background-color: white;
       border-radius: 1rem;
       display: flex;
       margin-top: 1rem;
    }
    
    .sub input{
       border: none;
       outline: none;
       padding: 4px;
       background-color: transparent;
       flex-grow: 1;
    }
    
}




 


