.container {
    width: 90%;
    margin: 0;
}
/*Check this very well*/
.header {
    display: none;
    /* height: 6rem; */
    width: 100%;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
} 

.logo {
    
    margin-right: 30px;
}

.logo-desk {
    display: block;
}

.main-header {
    /* margin-top: 1rem; */
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main-header-mini{
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
}

.logo-mini-container {
    display: none;
}

.hamburger-menu{
    display: none;
}

.hamburger-menu span {
    display: block;
    width: 15px;
    height: 2.2px;
    background-color: #222;
}

.hamburger-menu span:nth-of-type(2) {
    margin: 2px 0;
}

.hamburger-menu span:nth-child(odd) {
    margin: 2px 0;
}

.hamburger-mini {
    transform: rotateZ(180deg) rotateX(180deg);
}

.hamburger-mini span {
    width: calc(25px * var(--w)) !important;
}

.hamburger-mini span:nth-of-type(2) {
    margin: 5px 0;
}




@media screen and (min-width: 150px) and (max-width: 970px) {
    /* fix this */
    .main-header-mini {
            position: fixed !important;
            padding: 2rem;
            top: 0% !important;
            left: 0 !important;
            width: 100%;
            background-color: #fff;
            z-index: 100;
            box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
    }    

    .hamburger-menu{
        display: block;
        position: relative;
        left: 92%;
    }

    .main-header {
        justify-content: space-between;
    }

    .logo-mini-container {
        display: none;
    }
}

