
/*Nav section */

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin: 10px;
    font-weight: 450px;
    line-height: 24px;
}

.nav .right > * {
    margin: 10px;
}

.nav .right > *:first-child {
    color: var(--grey2);
}

.logo {
    color: var(--primary-blue);
    font-weight: 700;
    font-size: 21px;
    margin-right: 30px;
}

.drop-menu-container {
    display: none;
}

.show-drop-menu-container {
    display: block;
}

.drop-menu {
    border-radius: 3px;
    width: 100vw;
    padding: 10px 16px 25px 16px;
    background-color: #fff;
    box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
    z-index: 99;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    animation: scaleIn 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes scaleIn {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.show-drop-menu {
    opacity: 1;
    animation: scaleOut 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes scaleOut {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.drop-menu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.drop-menu ul li {
    padding: 10px 0;
}

.close {
    font-size: 2rem;
    cursor: pointer;
}

.drop-menu .right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drop-menu .right a {
    width: 100%;
}

.drop-menu .right a:last-child {
    order: 1;
}

.drop-menu .right a:first-child {
    order: 2;
}

.main-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-mini-container {
    display: none;
}

.logo-mini {
    background: var(--primary-blue);
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.logo-mini img {
    width: 80% !important;
    border-radius: 0 !important;
    height: auto;
}

.close {
    font-size: 2rem;
    cursor: pointer;
}

.drop-menu .right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drop-menu .right a {
    width: 100%;
}

.drop-menu .right a:last-child {
    order: 1;
}

.drop-menu .right a:first-child {
    order: 2;
}

.iframe .logo {

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0052CC;
    margin: 0 20px;
}

.iframe .logo img {
    width: 60%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bell icon */
.right > img:first-child {
    margin: 0 20px;
    cursor: pointer;
}


/* Avatar */
.right > img:last-child {
    width: 30px;
    cursor: pointer;
}



@media screen and (min-width: 278px) and (max-width: 767px) {

    .main-header {
        justify-content: space-between;
    }

    .logo-mini-container {
        display: block;
    }

    .macro {
        display: none;
    }
}