
/*Nav section */

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin: 10px;
    font-weight: 450px;
    line-height: 24px;
    font-size: 16px;
    list-style: none;
}

.nav .right > * {
    margin: 0px;
}

a, a.link:visited, a.visited{
    text-decoration: none;
    color: #111827;
}

/* .nav .right > *:first-child {
    color: var(--grey2);
} */

.macro{
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.drop-menu-container {
    display: none;
}

.show-drop-menu-container {
    display: block;
}

.drop-menu {
    border-radius: 3px;
    width: 100vw;
    padding: 10px 16px 25px 16px;
    background-color: #fff;
    box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
    z-index: 99;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    animation: scaleIn 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes scaleIn {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.show-drop-menu {
    opacity: 1;
    animation: scaleOut 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    padding: 1rem 4rem 9.1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@keyframes scaleOut {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.drop-menu ul {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.drop-menu ul li {
    
    padding: 15px 0 15px 0;
}

.drop-menu ul li a{
    color: #000;
    text-decoration: none;
}


.close {
    position: absolute;
    left: 91%;
    top: 2%;
    cursor: pointer;
}

.drop-menu .right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* .drop-menu .right a {
    width: 100%;
}

.drop-menu .right a:last-child {
    order: 1;
}

.drop-menu .right a:first-child {
    order: 2;
} */

.main-header {
    height: 100%;
    display: flex;
    align-items: center;
}

/* .logo-mini-container {
    display: none;
} */

.logo-mini {
    
    max-height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    display: none;
}

.logo-mini img {
    width: 80% !important;
    border-radius: 0 !important;
    height: auto;
}

.drop-menu .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5rem;
}

.drop-menu .right a {
    width: 100%;
}

.drop-menu .right a:last-child {
    order: 1;
}

.drop-menu .right a:first-child {
    order: 2;
}

/* .right {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.mini-btn{
    display: flex;
    justify-content: left;
}

.btn-class{
    padding: 1rem;
}

.btn-class :last-child{
    margin-left: 1rem;
}

/* Bell icon */
.right > img:first-child {
    margin: 0 50px;
    cursor: pointer;
}


/* Avatar */
.right > img:last-child {
    width: 30px;
    cursor: pointer;
}

.desktop_nav{
    display: none;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
}

.nav_Style{
    margin: 0rem auto 0rem auto;
}

.search_box_options2{
    display: flex;
    width: 60%;
    justify-content:center;
    margin-right: 3.5rem;
    
    
}

.search_box_options3{
    display: none;
    
    
}

.profile__pic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.profile__img {
    width: 4rem;
    height: 4rem;
}

.profile__img img {
    width: 100%;
    border-radius: 100%;
}

.profile__text {
    font-size: 1.6rem;
    font-weight: 500;
}


@media screen and (min-width: 200px) and (max-width: 970px) {

    .main-header {
        justify-content: space-between;
    }

    .desktop_nav_logo{
        display: none;

    }

    .mini_btn{
        margin-top: 3rem;
        gap: 1.5rem;
        align-items: center;

    }
/* important aspect */
    .nav_Style{
        margin: -3rem auto 0 auto;
    }    

    .logo-mini-container {
        /* display: block; */
        z-index: 10;
        margin-left: 1.8rem;
    }

    .macro{
        display: none;
    }

    .logo-mini{
        width: 120px;
        display: block;
    }

    .search_box_options2{
        display: none;
    }

    .search_box_options3{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

 
    
    
}