
/*Nav section */

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin: 10px;
    font-weight: 450px;
    line-height: 24px;
    font-size: 16px;
    list-style: none;
}

.nav .right > * {
    margin: 0px;
}

a.link:visited, a.visited{
    text-decoration: none;
}

/* .nav .right > *:first-child {
    color: var(--grey2);
} */

.macro{
    margin-right: 2rem;
}

.drop-menu-container {
    display: none;
}

.show-drop-menu-container {
    display: block;
}

.drop-menu {
    border-radius: 3px;
    width: 100vw;
    padding: 10px 16px 25px 16px;
    background-color: #fff;
    box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
    z-index: 99;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    animation: scaleIn 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes scaleIn {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.show-drop-menu {
    opacity: 1;
    animation: scaleOut 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes scaleOut {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.drop-menu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.drop-menu ul li {
    
    padding: 15px 0 15px 5rem;
}

.close {
    position: absolute;
    left: 78%;
    top: 4%;
    cursor: pointer;
}

.drop-menu .right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* .drop-menu .right a {
    width: 100%;
}

.drop-menu .right a:last-child {
    order: 1;
}

.drop-menu .right a:first-child {
    order: 2;
} */

.main-header {
    height: 100%;
    display: flex;
    align-items: center;
}

/* .logo-mini-container {
    display: none;
} */

.logo-mini {
    /* background: var(--primary-blue); */
    width: 30px;
    max-width: 30px;
    /* height: 30px; */
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.logo-mini img {
    width: 80% !important;
    border-radius: 0 !important;
    height: auto;
}

.drop-menu .right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drop-menu .right a {
    width: 100%;
}

.drop-menu .right a:last-child {
    order: 1;
}

.drop-menu .right a:first-child {
    order: 2;
}

.iframe .logo {

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0052CC;
    margin: 0 20px;
}

.iframe .logo img {
    width: 60%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bell icon */
.right > img:first-child {
    margin: 0 50px;
    cursor: pointer;
}


/* Avatar */
.right > img:last-child {
    width: 30px;
    cursor: pointer;
}

.desktop_nav{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
}

.nav_Style{
    margin: -4rem auto 0 auto;
}

@media screen and (min-width: 200px) and (max-width: 1200px) {

    .main-header {
        justify-content: space-between;
    }

    .desktop_nav_logo{
        position: absolute;
        bottom: 30%;
        left: 10%;
        z-index: 100;
    }

    .logo-mini-container {
        display: block;
    }

    .macro{
        display: none;
    }

    .logo-mini{
        width: 120px;
    }
    
}