.destination_body{
    padding: 9rem 10rem;
}

.destination_header{
    display: flex;
    justify-content: space-between;
}

.btn_width {
    width: 14.5rem;
}


.destination_title{
    color: #111827;
    font-size: 4rem;
    font-weight: 700;
    padding-left: 0;
}

.location_desc{
    font-size: 2rem;
    width: 60%;
    color: #2B2A2A;
    padding-left: 0;
}

.location_desc span{
    font-weight: 700;
    font-size: 2.4rem;
    
}

.amount{
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 6.6rem;
}



/* .link_to span:hover{
    flex-direction: start;
    margin-left: -1rem ;
    transition: ease-out 500ms;

} */



.image_grid{
    display: grid;
    width: 100%;
    margin-bottom: 5.6rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
}   

.img_size{
    border-radius: .8rem;
    grid-column: 1;
    grid-row: 2 / 5;
    width: 100%;
}

.img_size:hover{
    opacity: 0.8;
    transition: 2s all;
}

.in_grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
}

@media screen and (min-width: 150px) and (max-width: 667px) {
    .destination_body{
        padding: 12rem 2.0rem;
    }
    
    .destination_title{
        color: #111827;
        font-size: 1.4rem;
        font-weight: 700;
        padding-left: 0;
    }
    
    .location_desc{
        font-size: 1.2rem;
        width: 100%;
        
    }
    
    .location_desc span{
        font-weight: 700;
        font-size: 1.2rem;
        
    }
    
    .amount{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 2.6rem;
    }
    
   
    
    /* .link_to span:hover{
        flex-direction: start;
        margin-left: -1rem ;
        transition: ease-out 500ms;
    
    } */
    
   
    
    .image_grid{
        display: grid;
        margin-bottom: 1rem;
        gap: 0.5rem;
        grid-auto-rows: minmax(100px, auto);
    }   
    
    .img_size{
        border-radius: .8rem;
        grid-column: 1;
        grid-row: 2 / 5;
        height: 100%;
    }
    
    .img_size:hover{
        opacity: 0.8;
        transition: 2s all;
    }
    
    .in_grid{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        grid-auto-rows: minmax(30px, auto);
    }

    .btn_width {
        width: 100%;
    }   
    
}