
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

:root {
  --color-primary: #007AEC;
  --color-primar-light: #2A90EF;
  --color-primary-dark: #016ED4;
  --color-primary-disable: #55A6F2;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey: #E5E7EB;
  --color-grey-light: #F9FAFB;
  --color-grey-dark: #9CA3AF;
  
  --color-success: #34D399;
  --color-success-light: #ECFDF5;
  --color-success-dark: #10B981;

  --color-info: #60A5FA;
  --color-info-light: #EFF6FF;
  --color-info-dark: #3B82F6;

  --color-warning: #FBBF24;
  --color-warning-light: #FFFBEB;
  --color-warning-dark: #F59E0B;

  --color-danger: #F87171;
  --color-danger-light: #FEF2F2;
  --color-danger-dark: #EF4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html {
  font-size: 62.5%;
  font-family: 'poppins', 'san-serif';


}

input {
  font-size: 16px !important;
}

/* .App {
  padding: 1rem;
}

.searchBar{
  margin-top: 5rem;
}
} */
